/*
––––––––––––––––––––––––––––––––––––
   ██████╗ ██████╗ ██████╗ ███████╗
  ██╔════╝██╔═══██╗██╔══██╗██╔════╝
  ██║     ██║   ██║██████╔╝█████╗  
  ██║     ██║   ██║██╔══██╗██╔══╝  
  ╚██████╗╚██████╔╝██║  ██║███████╗
   ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
––––––––––––––––––––––––––––––––––––
*/

@import "helper/core";

@import "color";
@import "base";

@import "atom/button";
@import "atom/input";
@import "atom/list";
@import "atom/blockquote";
@import "atom/link";
@import "atom/code";
@import "atom/hr";
@import "atom/tag";
@import "atom/select";
@import "atom/underlined-link";
@import "atom/special-button";
@import "atom/parallax";
@import "atom/dashed-circle";

@import "molecule/inclined";
@import "molecule/form";
@import "molecule/card";


#app-container, #app-container>div, .screen-box  {
	width:100%;
	height:100%;
}

.center-box {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height:auto;
  min-height:100%;
  .center {
    position:relative;
    margin: auto;
  }  
}
