<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Thibaud Frere - PDF Generator</title>
    <meta name="description" content="Designer indépendant, Thibaud FRERE, passionné de typographie et d'ergonomie, spécialisé dans la communication sur internet, à votre service">
    <link rel="stylesheet" href="css/app.css?v=<%= buildTime %>">
    <link rel="icon" href="images/favicon.ico">

</head>
<body>
    <!-- App version : <%= version %>, build time : <%= ( new Date( +buildTime ) ).toString() %> -->
    <div id="app-container"></div>
    <script src="js/polyfills.js?v=<%= buildTime %>"></script>
    <script src="js/vendors.js?v=<%= buildTime %>"></script>
    <script src="js/app.js?v=<%= buildTime %>"></script>
</body>
</html>
